@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Inter', sans-serif;
  background: #f4f4f5;
}

.swal2-popup {
  font-family: 'Inter', sans-serif;
}

body {
  position: relative;
}
